*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: Neue Machina;
    src: url(/portifolio-web/assetes/fonts/neue-machina-regular.otf);
}

.contain{
    margin: 1rem;
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Cor de base profunda */
  background-color: #1A1B26;; 


  background-attachment: fixed;
  background-size: cover;
}